
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    padding:0;
    margin:0;
}

ul{
    list-style:none;
    padding-top: 60px;
    padding-right: 180px;
    font-size: 20px;
}
a{
    color:#fff;
    text-decoration: none;
}
h1,h4{
    font-weight: 200;
    line-height: 1.2;
    color: #fff;
}

h3{
    color: #FFBD12;
    font-weight: 400;
}
p{
color: aliceblue;

}
img{
    height: 100%;
    padding-top: 10px; 

    }

.navbar{
    padding-left:60px;
}    

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:black;
    opacity: 0.8;
    width: 100%;
    height: 70px;
}

.ppp{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    padding-left: 180px;

}
.a1{
    padding-right: 10px;
    padding-top: 50px;
    height: 20vh;
}
.a2{
padding-top: 70px;
padding-right: 30px;


}

.btn-1 { 
    cursor: pointer;
    display: inline-block;
    padding: 11px 40px;
    color: #1F2235;
    background-color:#FFBD12;
    border:none;
}
.btn-2 { 
    cursor: pointer;
    display: inline-block;
    padding: 10px 40px;
    color: #fff;
    border:#FFBD12 solid 1px;
    margin-left: 20px;
margin-top: 10px;  
margin-right: 20px;
}

.navbar a{

    color: #fff;
    padding: 10px 20px;
    margin: 0 5px;
}
.navbar ul{
    display: flex;
}



.hero{
    background:url(/images/pexels-sean-whang-804269@2x.png)no-repeat center center/cover;
    height: 100vh;
    position: relative;
    width:100%;
}



.hero::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,1);
    z-index:-1;

}


.content h4{
    padding-top:30px;
    padding-bottom: 70px;
    font-size: 20px;
    
}
.content h3{
    padding-top:90px;
    padding-bottom: 30px;
    font-size: 30px;
    margin-right: 0px;
    margin-right: 440px;
}

.content h1{
    padding-bottom: 10px;
    font-size: 40px;
}
.content img{
    float:right;
    height: 50vh;
    padding-right: 200px;
    padding-top: 5px;

    }

.content{
    padding-left: 250px;
    display:flex;
    justify-content: space-between;
}

.content .p2{
    padding-top: 70px;
    padding-right: 100px;
    border-radius: 10px;
}
#home{
    width: 100%;
}
/* About */
.column {
    background:#1F2235;
    width:100%;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content:space-between;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
}
.column-1{
    padding-left: 150px;
    height: 60vh;
}
.column-2{
    padding-left: 100px;
    padding-right: 200px;
    align-items: center;
    justify-content: center;
}
.column-2 .name{
    color: #fff;
}
.column-2 .name img{
    height: 4vh;
    }
/* My Stack */
.mystack{
    height:700px;
    background-color: 
    #313552;
 padding: 10px;
 width:100%;
}
 .progressbar{
     width: 100%;
     background-color: #1F2235;
     height: 100px;
     padding-top: 5px;
     padding-right: 10px;
     margin-top: 10px;
     margin: 0 10px;
 }
.progress1,.progress2 {
    width: 400px;
    margin-top: 50px;
    margin-left:;
    margin-inline-end: 100px;
}
.progress1{
    margin-left: 280px;
}


.progresshtml{
display: flex;
justify-content: space-between;
}
.progresshtml h4{
    padding-top: 10px;
}
.html{
    padding-top: 10px;
}
.value{
    color: yellow;
    background-color:#fff;
    width: 100%;
}
.percent{
    padding-top: 10px;
}
.icons{
    display: flex;
    color: #fff;
    justify-content: center;
}
.icons img{
    height: 30px;
}
.mystack h1,h3{
text-align: center;
}
.mystack h1{
    margin-top: 10px;
    font-size: 35px;
}
.mystack h3{
  margin-top: 30px;
  font-size: 25px;
}
/* container1 */
.container1, .container2, .container3{
    display: flex;
    flex-direction: row;
}




/* contact */
.contact{
    background-color: #1F2235;
   display: flex;
   justify-content: space-between;
height: 40vh;
width: 100%;
margin-left: 0;
}


.navbarfooter ul{
    padding:0 30px ;
    display: flex;
    justify-content: space-around;
}
.navbarfooter ul li{
    padding:0 10px ;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.abc{
    padding: 60px;
    text-align: center;
    align-items: center;
    justify-content: center;
   
}
.abc h3{
    padding-bottom:10px;
    font-size: 25px;
}
.footer-nav{
    width: 30%;
    margin-left: 0;
    padding-left: 0;

}
.ppp{
    margin-left: 60px;
    padding-left: 60px;
width: 30%;

}
.navbaraaa{
    width: 30%;
}
.email{
    font-size: 25px;
    text-align: center;
    padding:100px 100px;
    padding-left: 20px;
}
.p{
    text-align: center;
    padding-top: 20px;
    
}


/* mobile */
@media only screen and (max-width:768px) {
    #home{
        width:1300px;
        
    }
}


